<Modal as |modal|>
    <modal.header @title={{@options.title}} />
    <modal.body>
        <div class="p-4">
            <h1>Hello World!</h1>
        </div>
    </modal.body>
    <modal.footer />
</Modal>